S3method(auxiliary,time.table)
S3method(deltat,time.table)
S3method(diff,time.table)
S3method(embed,time.table)
S3method(frequency,time.table)
S3method(index,time.table)
S3method(lag,time.table)
S3method(measurement,time.table)
S3method(subset,time.table)
S3method(time,time.table)
export(affix_names)
export(as.time.table)
export(auxiliary)
export(auxiliary_names)
export(cv_assign_sets)
export(cv_split_time_table)
export(from_WDI)
export(index)
export(index_names)
export(measurement)
export(measurement_names)
export(nobs)
export(promote)
export(roles)
export(same_str_as)
export(split_by_cols)
export(time_name)
export(timerange)
import(data.table)
import(stats)
importFrom(WDI,WDI)
