S3method(auxiliary,names)
S3method(diff,time.table)
S3method(index,names)
S3method(lag,time.table)
S3method(measurement,names)
S3method(split,by.cols)
S3method(subset,time.table)
S3method(time,name)
export(affix.names)
export(as.time.table)
export(auxiliary)
export(cv.assign.sets)
export(cv.split.time.table)
export(index)
export(measurement)
export(same.str.as)
export(timerange)
import(data.table)
